body{
	background-color: green;
}
.container{
	padding-top: 50px;
}
.card{
	box-shadow: 1px 1px 8px;
}
h1{
	color: white;
	text-align: center;
}

.inputForm{
	text-align: center;
}
.inputFormEdit{
	text-align: center;
}